BUILD_ENVIRONMENT=local

ALLOWED_ORIGINS=ALLOWED_ORIGINS
PORT=8000
HOST=0.0.0.0

# POSTGRES
# ------------------------------------------------------------------------------
DATABASE_URL=postgresql://user:password@host:5432/dbname

# REDIS
# ------------------------------------------------------------------------------
REDIS_URL=REDIS_URL

# ADMIN
# ------------------------------------------------------------------------------
ADMIN_SECRET_KEY=ADMIN_SECRET_KEY

# OPENAI
# ------------------------------------------------------------------------------
OPENAI_API_KEY=OPENAI_API_KEY
